In [1]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('../data/atp_2003_2022.csv', index_col=0)

/tmp/ipykernel_7780/3326912763.py:1: DtypeWarning: Columns (9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/atp_2003_2022.csv', index_col=0)

In [32]:
ids = pd.read_csv('../data/id_name_df.csv', index_col=0)

In [33]:
ids.head()

  OpponentId           OpponentName
3       A0E2         carlos-alcaraz
4       A479        nicolas-almagro
5       A678         kevin-anderson
6       A596          pablo-andujar
7       AG37  felix-auger-aliassime

In [20]:
data.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [37]:
data['winner_name']

0            Wayne Ferreira
1            Thomas Enqvist
2       Jan Michael Gambill
3              Albert Costa
4             Alex Corretja
               ...
2152     Aristotelis Thanos
2153       Petros Tsitsipas
2154     Hong Kit Jack Wong
2155           Coleman Wong
2156       Sylvestre Monnou
Name: winner_name, Length: 58186, dtype: object

In [39]:
def filter_by_player(player_name, df):
    return df[(df['winner_name']== player_name) | (df['loser_name']== playername)]

In [47]:
kyrgios_df = data[(data['winner_name']== 'Nick Kyrgios') | (data['loser_name']== 'Nick Kyrgios')]

In [51]:
kyrgios_df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [58]:
def create_wins_column(df, name):
    df['wins'] = df['winner_name'].apply(lambda x: 1 if x== name else 0)
    return df['wins']

In [59]:
create_wins_column(kyrgios_df, 'Nick Kyrgios')

/tmp/ipykernel_7780/2678287280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wins'] = df['winner_name'].apply(lambda x: 1 if x== name else 0)

1493    1
1530    0
2351    0
2489    1
152     1
       ..
1945    1
1953    1
1969    1
2010    0
2028    1
Name: wins, Length: 319, dtype: int64

1493    Nick Kyrgios
1530     Marin Cilic
2351    David Ferrer
2489    Nick Kyrgios
152     Nick Kyrgios
            ...
1945    Nick Kyrgios
1953    Nick Kyrgios
1969    Nick Kyrgios
2010    Taylor Fritz
2028    Nick Kyrgios
Name: winner_name, Length: 319, dtype: object

## Working out Federer's Stats

In [65]:
df = pd.read_csv('../data/df_finalmente.csv')

In [66]:
df.head()

,Hard,Clay,Carpet,Grass,best_of,minutes,opponent_name,opp_hand,opp_ht,opp_age,...,djok_ace,djok_df,djok_svpt,djok_1stIn,djok_1stWon,djok_2ndWon,djok_SvGms,djok_bpSaved,djok_bpFaced,Target
0,0.0,1.0,0.0,0.0,0.0,146.0,Arnaud Clement,0.0,173.0,26.7,...,4.0,2.0,91.0,60.0,39.0,19.0,14.0,2.0,5.0,True
1,1.0,0.0,0.0,0.0,0.0,19.0,Victor Hanescu,0.0,198.0,24.2,...,1.0,1.0,12.0,8.0,6.0,2.0,2.0,0.0,0.0,True
2,1.0,0.0,0.0,0.0,0.0,105.0,Mariano Puerta,1.0,180.0,27.1,...,12.0,2.0,82.0,51.0,38.0,19.0,11.0,4.0,5.0,True
3,1.0,0.0,0.0,0.0,0.0,105.0,Ricardo Mello,1.0,175.0,24.8,...,4.0,3.0,80.0,51.0,37.0,12.0,11.0,5.0,7.0,True
4,0.0,1.0,0.0,0.0,0.0,63.0,Alex Calatrava,0.0,190.0,32.1,...,1.0,0.0,52.0,36.0,26.0,13.0,9.0,4.0,4.0,True

In [68]:
fed_df = df[df['opponent_name']== 'Roger Federer']

In [70]:
fed_df.columns

Index(['Hard', 'Clay', 'Carpet', 'Grass', 'best_of', 'minutes',
       'opponent_name', 'opp_hand', 'opp_ht', 'opp_age', 'opp_ace', 'opp_df',
       'opp_svpt', 'opp_1stIn', 'opp_1stWon', 'opp_2ndWon', 'opp_SvGms',
       'opp_bpSaved', 'opp_bpFaced', 'DJOK', 'djok_hand', 'djok_ht',
       'djok_age', 'djok_ace', 'djok_df', 'djok_svpt', 'djok_1stIn',
       'djok_1stWon', 'djok_2ndWon', 'djok_SvGms', 'djok_bpSaved',
       'djok_bpFaced', 'Target'],
      dtype='object')

In [74]:
fed2_ace = pd.DataFrame()

In [77]:
fed2_ace['ace_perc'] = fed_df['opp_ace']*100/(fed_df['opp_svpt'] - fed_df['opp_df'])
fed2_ace.mean()

ace_perc    9.884139
dtype: float64

In [78]:
fed2_ace['ace_perc'] = fed_df['opp_ace']*100/(fed_df['opp_1stIn'])

In [80]:
fed2_ace.mean()

ace_perc    15.580151
dtype: float64

In [88]:
    fed2_ace['1stin'] = fed_df['opp_bpSaved']/(fed_df['opp_bpFaced'])

In [89]:
fed2_ace.mean()

ace_perc    15.580151
1stin        0.612130
dtype: float64

In [91]:
fed_df.count()

Hard             48
Clay             48
Carpet           48
Grass            48
best_of          48
minutes          48
opponent_name    48
opp_hand         48
opp_ht           48
opp_age          48
opp_ace          48
opp_df           48
opp_svpt         48
opp_1stIn        48
opp_1stWon       48
opp_2ndWon       48
opp_SvGms        48
opp_bpSaved      48
opp_bpFaced      48
DJOK             48
djok_hand        48
djok_ht          48
djok_age         48
djok_ace         48
djok_df          48
djok_svpt        48
djok_1stIn       48
djok_1stWon      48
djok_2ndWon      48
djok_SvGms       48
djok_bpSaved     48
djok_bpFaced     48
Target           48
ace_perc         48
dtype: int64